.product-share ul.social-share li a {
    position: relative;
    width: 45px;
    height: 45px;
    opacity: .8;
    color: $blue;
    border: 1px solid #cacaca;
    line-height: 40px;
    border-radius: 50%;
    transition: all 300ms linear ;
}

.product-share ul.social-share li a:hover  {
    background: $blue;
    color: #fff;
    opacity:1;
}

.product-header {
    margin-top: 4rem;
}


video {
    width: 100% !important;
}

dd {
    margin-left: 30px !important;
}

dd dl dt a {
    color: $gray;
}

dd dl dt a:before {
    content: '-';
    margin-right: 4px;
}

dd dl dd a:before {
    content: '-';
    margin-right: 4px;
}

.mines-top {
    @media(max-width: 767px) {
        top:-70px;
        position: relative;
    }
}


dl.sitemap {
    @media(max-width: 767px) {
        column-count: 1;
    }

    @media(min-width: 768px) and (max-width: 1200px) {
        column-gap: 35px;
        column-count: 2;
    }

    @media(min-width: 1201px) {
        column-gap: 50px;
        column-count: 3;
    }
}

.intro-table {
    @media(min-width: 992px) {
        height:100%;
    }
}


.text-image-component:nth-child(odd){
    .text-container-inside {
        @media(max-width: 767px){
            margin-top: 3rem;
        }
    }
}